[2016-02-21 20:50] obartra opened #46 "Private repo support"
Hi there, I was wondering if there were any plans to add support for private repos

[2016-02-22 06:37] frankleng commented on #46
:+1:

[2016-02-22 07:53] lipp commented on #46
If there are enough users, private repo support will definitely come.

[2016-02-23 18:45] fridgamarator opened #47 "error on 'sync'"
url is : https://doclets.io/sync
response is : `Err {"message":"Bad credentials","documentation_url":"https://developer.github.com/v3"}`

I tried to log out and revoke Doclets authorization from my github account, but this didn't seen to work.

[2016-02-23 22:11] lipp commented on #47
@fridgamarator thanks for reporting. Not sure what causes this right now. ... did you manually change your webhook settings in your repo? Did login succeed before?

[2016-02-23 22:18] fridgamarator commented on #47
I added a public repo to Doclets just to test, but removed the repo from Doclets because it didn't have any documentation.  I then created another private repo in github which had documentation and tried to Re-Sync repositories.  That is when I get this error.  I didn't adjust any webhook settings in my github repos.

[2016-02-25 08:30] zandaqo commented on #47
Same error, different scenario: I just joined, but forgot to allow Doclet.io access to my organization's repos. To fix that, I logged out, revoked access to my account in Github settings, and then signed up again this time granting access to organization. However, it still doesn't show my organization's repos and upon clicking on re-sync shows the above mentioned error. I checked my Github setting

[2016-02-25 17:18] meteormanaged opened #48 "Error while creating doclet"
Sorry, something went wrong during creation of your doclet!
    Error: Error: ENOENT: no such file or directory, open '/usr/src/app/lib/031eafb0-dbe3-11e5-9d55-ed04cc93f6aa'

As shown on my page for the repo/branch.  This is the first time I've pushed to this branch with a .doclets.yml

The config I used was quite simple:

    dir: lib
    packageJson: package.json

Some inconsistency in the docs

[2016-02-25 17:21] meteormanaged opened #49 "Inconsistent documentation"
Regarding information at: https://doclets.io/doclets.yml

lib/dir declaration:

![image](https://cloud.githubusercontent.com/assets/10685349/13327927/fe750a3c-dbb9-11e5-99cb-964992779d60.png)

Image seems to show and describe a "dir" option with "lib" parameter.

![image](https://cloud.githubusercontent.com/assets/10685349/13327955/2473f77a-dbba-11e5-88ba-dde9ed89b6ca.png)

Example 3 shows the sam

[2016-02-25 17:24] meteormanaged commented on #48
Wow.  This is totally my issue.  Not yours.  Thanks.

[2016-02-25 17:24] #48 closed

[2016-02-25 18:16] lipp commented on #49
Thanks! You are totaly right. The "explained" section is wrong. I'll fix it.

[2016-02-25 18:47] lipp commented on #47
thanks for the detailed reports! working on that. sorry for the trouble!

[2016-02-25 18:47] jenius opened #50 "Organization Repo Support"
Is there any way to add repos from an organization? Would be amazing!

[2016-02-25 18:48] lipp commented on #50
support of private repos and organizations are coming soon!

[2016-02-25 19:26] lfilho commented on #46
+1

[2016-02-25 19:27] jenius commented on #50
Awesome, thanks for your great work here! Let me know if there's anything that I could help with :grin:

[2016-02-25 19:29] ronydj commented on #46
+1 **must have** feature =D

[2016-02-26 08:06] lipp commented on #47
@fridgamarator @zandaqo could you please try to delete all the cookies for doclets.io
(if you visit https://doclets.io in the address bar). This probably will do the trick for now.

[2016-02-26 08:12] lipp commented on #49
fixed with bf08b5a

[2016-02-26 08:12] #49 closed

[2016-02-26 12:23] zandaqo commented on #47
@lipp Nope, doesn't seem to work. Tried removing all cookies, logging in and out, in Chrome and FF, no changes: gives the same error upon clicking on the re-sync button.

[2016-02-26 12:27] lipp commented on #47
:( thanks for trying. i'll reach you if this is fixed.

[2016-02-26 21:20] nicky-lenaers commented on #50
Would love to see private repo's added aswell :+1:

[2016-02-26 21:21] nicky-lenaers commented on #46
+1

[2016-02-27 08:57] tf opened #51 "Will Doclets stay free for open source?"
Doclets looks really promising. Will it stay free for open source projects once beta phase is over?

[2016-02-27 09:06] tf opened #52 "Support for @since tag"
It looks like the value of the `@since` tag is currently not visible in the generated doc. I always find it nice to see since when a certain feature is present.

Example: https://doclets.io/tf/pageflow/add-to-doclets#dl-pageflow-Features

[2016-02-27 09:10] tf opened #53 "Support for Backbone style classes"
At the moment, members of classes defined with an `.extends({...})` pattern get listed as part of the global scope. Having to put a `@memberof` tag on all members would be a lot of bloat. Is there an alternative? This might also be the wrong repo to ask this question since it might simply be a general JSDoc issue?

[2016-02-27 09:15] tf opened #54 "Support for ES2015/JSX"
The build for the following Webpack compiled project failed:

  https://doclets.io/tf/pageflow-react/add-to-doclets

It contains both ES2015 code and JSX files. Is support for those features planned? [JSDoc claims](https://github.com/jsdoc3/jsdoc/issues/1001) to support it.

[2016-02-27 10:07] lipp commented on #51
Thanks! Yes, doclets.io will definitely stay free for open source projects forever!

[2016-02-27 10:09] lipp commented on #52
Thanks for reporting. Not all tags are supported at this time. But they all will be added soon.

The docs will be updated automatically, so just give me some time. I'll let you know when @since is available.

[2016-02-27 10:12] lipp commented on #53
Yes you are right. Would be nice to have this recognized automatically. As you said this is unfortunately beyond the scope of doclets.io . When JSDoc generator supports this, doclets.io will have it too!

[2016-02-27 10:12] #53 closed

[2016-02-27 10:13] lipp commented on #54
Not sure about this. I'll have to investigate on it ...

[2016-02-27 10:35] tf commented on #51
That's great news! I'd suggest mentioning that on the marketing site since it's a big plus from my point of view.

[2016-02-27 10:35] #51 closed

[2016-02-27 13:49] mtrevisan opened #55 "error while generating doc"
I have added my repository to doclets (https://github.com/mtrevisan/library), added the .doclets.yml accordingly (https://github.com/mtrevisan/library/blob/dev/.doclets.yml), and then it landed me to this page: https://doclets.io/mtrevisan/library/dev, giving me the following error:

`TypeError: /usr/src/app/views/doclayout.jade:19
   17| ul.args
   18| if func.params
   19| each param in _.filter

[2016-02-28 09:55] #52 closed

[2016-02-28 10:54] lipp commented on #51
@tf done. you think it's clear enough or should point out "forever"?

[2016-02-29 00:41] joscha opened #56 "snyc error"
Hitting https://doclets.io/sync shows:
[code]
I believe that happened, because of the following steps:
* Login to doclets.io, granting access
* Revoking the access for doclets.io on the github side (I did that because organization repos weren't showing up before knowing it was due to #50)
* Logging in to doclets.io again, granting access again
* Clicking the `Re-Sync Repositories` button.

[2016-02-29 07:37] lipp commented on #56
thanks for reporting! sorry for the trouble. there is no work around yet...
working on this.

[2016-02-29 07:37] lipp commented on #56
this is a duplicate of #47

[2016-02-29 07:37] #56 closed

[2016-02-29 08:19] tf commented on #52
That was fast! :+1:

[2016-02-29 08:21] tf commented on #51
I think it's clear now. Thanks!

[2016-03-02 08:42] lipp commented on #47
@zandaqo @fridgamarator @joscha This should be fixed now. On your user/account page you will be asked to reauthenticate.
Please let me know how this works for you.

[2016-03-02 08:54] lipp commented on #47
organization repos and private repos are still not available :( ... working on that.

[2016-03-03 12:21] zandaqo commented on #47
Sorry for the dilatory response. It works fine for me, thank you! Now eagerly waiting for the org reps to finally try this thing =)

[2016-03-05 20:27] lipp commented on #47
@fridgamarator @joscha did this work for you too?

[2016-03-06 10:17] zandaqo opened #62 "JSDoc plugins"
Hi,

Are you planning to support JSDoc plugins?

[2016-03-06 15:29] lipp commented on #62
what plugins are you thinking of?

[2016-03-06 15:45] zandaqo commented on #62
@lipp I was thinking of allowing any custom plugin, just like JSDoc does. Personally, I use JSDoc's underscore, and a few of my own, like [false-booleans](https://github.com/zandaqo/jsdoc-plugin-false-booleans) and [named-defaults](https://github.com/zandaqo/jsdoc-plugin-named-defaults). They are pretty handy when it comes to tailoring JSDoc to one's coding style.

[2016-03-06 19:23] lipp commented on #62
@zandaqo nice work! added plug-in support to the feature list. at the moment i am still working on more basic things.

[2016-03-07 07:46] lipp commented on #55
@mtrevisan thanks for reporting. there is definitely something weired going on... sorry for that. will look into it ....

[2016-03-10 10:49] lipp commented on #47
@fridgamarator @joscha can i close this?

[2016-03-10 11:08] joscha commented on #47
@lipp yes, it works.

[2016-03-10 11:57] lipp commented on #47
@joscha thanks! Everything working for you? Missing something? Let me know if you need something!

[2016-03-10 12:00] joscha commented on #47
@lipp Organization repos please :)

[2016-03-10 12:05] lipp commented on #47
@joscha working on it right now :)  hope public orgas/repos are ok for you for the start...

[2016-03-10 12:06] lipp commented on #47
@joscha did you the the embedded "playground" stuff? do you like it?

[2016-03-10 12:14] joscha commented on #47
@yes, talking about public ones - no, I did not see any embedded playground?!

[2016-03-10 12:19] lipp commented on #47
https://doclets.io/lipp/acme-jsdoc-example/master#dl-greet

this is a pretty useless example ... but it shows the way it works. you can write "real" node.js / javascript code and require anything you want from npm.
i think this could really boost the power of examples as you can actually execute them and play around.

[2016-03-10 12:24] joscha commented on #47
ah, awesome! I really like it, unfortunately tonic has some problems with es6 code sometimes, but integrating it directly is brilliant!

[2016-03-10 12:27] lipp commented on #47
glad you like it! im not sure right now how to enable it. there are three possibilities i see:
1) use non standard @playground tag
2) make all @example playgrounds
3) render static and offer a button "try as tonic" which embeds the code into tonic view

which do you prefer?

[2016-03-10 12:30] joscha commented on #47
what about allowing custom tags and a widget definition for it - that way I could add a
[code]
that gets rendered like a playground and a
[code]
that gets rendered in jsFiddle style based on what the widget thinks is best.

[2016-03-10 12:36] lipp commented on #47
that's a great idea! don't know if jsfiddle or others are as easy to embed as tonic ...?
but that would take the "live" example thingy to the max :)
i'll open a "feature" ticket!

[2016-03-10 12:41] joscha commented on #47
We built something similar for our [AUI docs](https://docs.atlassian.com/aui/latest/docs/auiselect2.html) - see the code block in there and the buttons to export it to JSBin or JSFiddle - it uses a library called [Sandy](https://bitbucket.org/atlassianlabs/sandy). If you write a plugin architecture, I'd write a plugin that uses Sandy. Alternatively I could write one that creates an embedded jsFidd

[2016-03-10 12:48] lipp commented on #47
Awesome. that's very interesting. thanks for your offer. if this comes near (orga/private stuff done) i'll be happy to reach you again. how can i reach you best?

[2016-03-10 13:01] joscha commented on #47
@lipp cool! My github profile has my email, that's easiest I think.

[2016-03-10 13:28] lipp commented on #47
:100:

[2016-03-10 13:28] #47 closed

[2016-03-10 13:29] lipp opened #65 "support more "live" tags (jsfiddle, etc)"
as suggested by @joscha

what about allowing custom tags and a widget definition for it - that way I could add a
[code]
that gets rendered like a playground and a
[code]
that gets rendered in jsFiddle style based on what the widget thinks is best.

[2016-03-10 14:18] fridgamarator commented on #47
sorry for my delayed response, yes this is working for me now

[2016-03-10 14:19] fridgamarator commented on #46
:+1:

[2016-03-10 23:46] MattiSG opened #66 "Support @lends tag"
Hi,

Thanks a lot for doclets! Finally looks like a way to make the value of documentation more tangible  :)

I had a surprise when trying to add it to [Watai](https://github.com/MattiSG/Watai), though: some classes are not parsed properly, and their methods are parsed as globals.
It seems to me the issue is related to the [`@lends`](http://usejsdoc.org/tags-lends.html) syntax.

Example: [result](

[2016-03-11 08:23] lipp commented on #54
This will definitely come. ES2015 and JSX are way too important to ignore !
Working on orga support now. This is next! @tf

[2016-03-11 08:26] lipp commented on #66
Thanks for reporting! Happy you like and doclets and give it a try!
Maybe you are missing the @class before "var Runner = ". At least this is how the example shows...
Could you give this a try?

[2016-03-11 08:28] lipp commented on #66
... you maybe want to do this also "/** @lends Runner.prototype */ since I guess the methods are instance methods (and not statics)

[2016-03-11 09:25] tf commented on #54
I also tried running JSDoc locally and I can confirm that it is not a doclets specific problem. ES2015/JSX support in JSDoc appears to be a work in progress still. So feel free to close or keep it open as a reference point for others...

[2016-03-11 09:27] tf commented on #62
Plugins would probably have to be whitelisted somehow, right? It basically means running arbitrary code on your infrastructure...

[2016-03-11 09:32] lipp commented on #62
yes. maybe there will be a list of plugins you can choose from. unfortunatly this feature will have to wait for orga and private support being implemented.

[2016-03-11 09:34] lipp commented on #54
thanks for digging into it! maybe the parser can handle it but the default rendering does not work for es2015? i am extracting the "pure" data from jsdoc and doing the rendering etc myself. hope this jsdoc es2015 thing will clear up in the next time.

[2016-03-11 09:38] MattiSG commented on #66
No, I'm using the `@lends`/`@constructs` couple, as documented [here](http://usejsdoc.org/tags-lends.html) (paragraph “Documented with a constructor”).

I might be missing the `.prototype`, though. This used to work with JSdoc2, testing now with JSdoc3 it indeed seems to have broken. I'll get back to you with further testing.

[2016-03-11 09:41] lipp commented on #66
sorry, was missing that. indeed this should work if the docs are right.

[2016-03-11 11:19] lipp commented on #46
@obartra @lfilho @ronydj @nicky-lenaers @fridgamarator coming soon!

[2016-03-11 12:53] zandaqo commented on #62
@tf Indeed. That was my main concern about this feature: whether or not the author(s) planned infrastructure in the way that might allow that scenario in the future.

@lipp Ideally you would want to "containerize" each run of jsdoc to mitigate the security/performance risks. Even with whitelisted plugins, or no plugins at all, there is a possibility that jsdoc might hung up on a given code. I'm no

[2016-03-11 13:39] nicky-lenaers commented on #46
@lipp Great to hear!

[2016-03-11 13:43] jacobchromy commented on #46
@lipp can´t wait for it

[2016-03-11 14:27] MattiSG commented on #66
The `.prototype` is equivalent to `#`, which I already added.

There is, however, an issue with this `@lends`/`@constructs` parsing in JSdoc: jsdoc3/jsdoc#343.

[2016-03-13 14:28] lipp commented on #47
@fridgamarator thanks for your feedback!

[2016-03-13 14:29] lipp commented on #66
@MattiSG thanks for keeping me updated. so this seems a jsdoc issue. may i close this for now?

[2016-03-13 18:56] MattiSG commented on #66
Sure  :)

[2016-03-14 07:41] #66 closed

[2016-03-16 09:57] lipp opened #68 "create tool for local previews"
should work like this:

[code]

this will start a webserver on localhost:8090 which shows the output doclets.io would generate

[2016-03-24 10:32] lipp commented on #50
@jenius @nicky-lenaers added repo support. You will be prompted for more access-rights and then using "re-sync" button should bring in your orga repos. Would be great to here if orgs work for you! Cheers!

[2016-03-24 10:33] lipp commented on #46
@fridgerator  @obartra  @frankleng  @lfilho @ronydj Half way there!
Added organization repo support. You will be prompted for more access-rights and then using "re-sync" button should bring in your orga repos. Would be great to here if orgs work for you! Cheers!

[2016-03-24 10:48] nicky-lenaers commented on #50
You guys are moving fast, great work :+1:  I currently don't have a orga repo, so waiting for #46 to be resolved. Looking forward to it!

[2016-03-24 11:54] lipp commented on #54
@tf thinking about switching to documentation.js . Any experience with it?

[2016-03-24 14:06] jenius commented on #50
Nice! I'm seeing some org repos now, but for some reason not all of them. Could provide an example if that helped but it's specific to my account...

[2016-03-24 14:17] lipp commented on #50
:( nginx timeout ... not so good...
you should see all public orga repos you have admin access to.
admin right are required to enable webhooks.

[2016-03-24 14:18] lipp commented on #50
btw: thanks for trying!

[2016-03-24 14:26] lipp commented on #50
@jenius do you see all of your "public-orga-repos-you-are-admim-in"?

[2016-03-24 14:39] lipp commented on #50
@jenius the steps are basically explained here: https://youtu.be/V87knrNqT0k
the order is important
1) add repo to doclets
2) add .doclets.yml file to your repo (root dir)
3) push to github (per default 'master' and 'add-to-doclets' branches will be built)
don't hesitate to ask.

[2016-03-24 15:20] jenius commented on #50
@lipp got it, it was an admin issue, thanks! is doclets down right now though?

[2016-03-24 21:29] jenius commented on #50
Ok, it appears to be back up. I just can't fully test this because I get a gateway timeout whenever I try to sync repos :cry:

[2016-03-25 14:00] zandaqo commented on #50
@lipp Works great for me, didn't even need to re-sync. Thanks!

[2016-03-26 00:50] ericuldall opened #75 "Doclets not picking up 1 file"
For some reason doclets (https://doclets.io/the-letter-e-production/Express-MVC/add-to-doclets) is not picking up the follwing file:
https://github.com/the-letter-e-production/Express-MVC/blob/add-to-doclets/lib/Router.js

Any idea why this is happening?

[2016-03-26 06:53] lipp commented on #50
@jenius our hoster (digital ocean) has dns issues :(
they don't know how long it takes to fix it. sorry for that!

[2016-03-26 06:54] lipp commented on #50
@zandaqo great. thanks for the feedback! i'll close this issue as it seems organization repos are working.

[2016-03-26 06:54] #50 closed

[2016-03-26 06:59] lipp commented on #75
@ericuldall that's strange. no idea why this file is skipped. i'll look into this wed/thu as i am in easter vacations right now...
sorry for the trouble and thanks for using doclets!

[2016-03-26 08:34] tf commented on #54
Played a bit with it. But not enough to offer any real insights here.
Sorry.

Gerhard Preuss <notifications@github.com> schrieb am Do., 24. März 2016,
12:54:

[2016-03-26 08:35] zandaqo opened #76 "Documenting remote files"
Hi,

This might seem a bit far-fetched, but just in case... wouldn't it be nice to be able to specify for documentation files that do not belong to the immediate repository (remote files)?

Possible use cases:
1. documenting dependencies that don't have their own documentation;
2. creating a centralized documentation for a modularized library without loading/duplicating all libraries in the centra

[2016-03-26 09:24] ericuldall commented on #75
Thank you.

[2016-03-26 11:05] lipp commented on #76
That's interesting. Actually I want to allow referencing other doclets and their items (classes, functions etc) I think this will get interesting as the user base and the number of projects documented with doclets grows.

Anyhow including "external " stuff is on the list.

[2016-03-27 09:00] zandaqo commented on #76
To give an example, I'm rolling out our in-house MV* library [Compago](https://github.com/scriptare/compago) which is basically a [collection of libraries](https://github.com/scriptare) loosely coupled through the use of common event emitter. Each module is autonomous to a degree, but they're better together, so we have a central repository.  The central repository just keeps configs for package m

[2016-03-27 14:36] joscha opened #77 "`dir` should allow multiple"
I get the error:

[code]
but my project has source files that are both in `src` and `finders`. I propose `dir` should be able to accept multipel values.

[2016-03-27 14:40] joscha opened #78 "@link ignored"
`@link` tags in JSDoc seems to be ignored, e.g.:

[code]
or
[code]

[2016-03-27 14:42] joscha opened #79 "@ignore ignored"
a JSDoc annotation like this:

[code]

should exclude the following symbol from showing up in the documentation.

[2016-03-29 08:31] lipp commented on #79
Thanks for reporting! Will be fixed soon.

[2016-03-29 08:32] lipp commented on #78
Thanks for reporting! Will fix this soon.

[2016-03-29 08:34] lipp commented on #77
Agree! Thanks for the input! `dir` will accept a string or an array of strings.

[2016-03-29 08:40] lipp commented on #76
So would it be ok for you to have one documentation for each "sub" module and having one additional aggregation module which links through markdown article and/or usage of @external api doc pointing to the subs? (Writing from mobile su**s)

[2016-03-29 15:21] zandaqo commented on #76
If it can more or less seamlessly "stitch" those submodules together in the aggregated module it would be IMO the best solution (for the case at hand) and I personally don't mind manually placing `@external` tags (if you mean to do it with tags).

The reason I suggested allowing to just list the needed external files in .doclets.yml and feed them to jsdoc is that: a) it's technically a lot easier/

[2016-03-29 20:56] lipp commented on #76
@zandaqo ok. the variant using external files / links from within .doclets.yml has some advantages and I guess your are right that it might be not so difficult to implement. this would work "out of the box" just for publicly available source though. there would be no webhooks, too. so changes would have to be polled :(
what do you think? (back on keys again !)

[2016-03-29 21:21] zandaqo commented on #76
@lipp I'm all for it. As I see it, we just need to hook up a simple loader for external files on the gathering step before feeding the results to jsdoc. If you need a hand with it, I can take a swing at it.

Yes, I thought about that. As a solution, how about adding a button to allow manually re-running doclets generation? Like how Travis CI allows to re-run tests. Does GitHub's API allow such sce

[2016-03-30 09:30] zandaqo commented on #77
I believe using glob patters is a better solution here. In the long it's only a matter of time when someone decides that having multiple dirs isn't enough and he needs to include/exclude some files according to a patter. Allowing to use glob patterns in `files` parameter would solve this. I believe this PR might work #81

[2016-03-30 10:20] #79 closed

[2016-03-30 10:25] lipp commented on #79
@joscha this will be "online" in some hours. i'll let you know.

[2016-03-30 10:53] lipp commented on #79
@joscha ok it is online. maybe you could give it a try and say if it is working for you?

[2016-03-30 11:03] joscha commented on #79
@lipp is there a way to re-generate the documentation for a branch without a commit?

[2016-03-30 13:17] lipp commented on #79
@joscha not yet. Actually you should not need this in this case as the changes affect the rendering step. Reloading the api doc page in the browser should be enough.

[2016-03-30 17:46] janmeier opened #82 "Support for nested options"
Currently nested and top-level parameters are rendered in a single list - which can become very long, see below

![image](https://cloud.githubusercontent.com/assets/1210224/14151561/d6375c9a-f6ae-11e5-82fa-48bc7a804819.png)
Which is generated from https://github.com/sequelize/sequelize/blob/35e68f67b9be2702109157b6d066781555d43202/lib/model.js#L1314-L1344

Regular jsdoc shows this as a nested tabl

[2016-03-30 21:20] joscha commented on #79
seems to work, thank you!

[2016-03-30 21:23] joscha opened #83 "@see tag only partially supported"
When using `@see`like this:

[code]

The result is only partially correct:
<img width="817" alt="crawlkit_-_master" src="https://cloud.githubusercontent.com/assets/188038/14158038/bf2ac56c-f719-11e5-8664-dcf3eadb54d8.png">

[2016-03-30 21:34] joscha opened #84 "Extended type definitions linked incorrectly"
A type definition like:
[code]
is transformed incorrectly to:
<img width="228" alt="crawlkit_-_master" src="https://cloud.githubusercontent.com/assets/188038/14158324/3d764008-f71b-11e5-9362-ba33dc72bd2c.png">

All three types should be linked independently (in the case of `Object`, `String` and `*` probably no link, as they are base types).
Also, the preceding `!` (non-null indicator) seems to be

[2016-03-31 05:55] lipp commented on #82
:+1:  i like that! i think it's  good compromise between readability an space consumption. maybe the fullname (options.include.model) could be added as tooltip (on hover).

[2016-03-31 05:58] lipp commented on #83
good catch! @joscha you seem to use the entire jsdoc tag spectrum :) . BTW: crawlkit seems very interesting and clean.

[2016-03-31 05:59] lipp commented on #84
thanks for reporting!

[2016-03-31 12:14] lipp commented on #83
@joscha  this is fixed.

[2016-03-31 12:14] #83 closed

[2016-03-31 12:15] lipp commented on #78
@joscha this is fixed

[2016-03-31 12:15] #78 closed

[2016-03-31 12:19] lipp commented on #84
@joscha is your example correct? if i read this (https://developers.google.com/closure/compiler/docs/js-for-compiler#types) correctly it probably should be `!Object<String, String>` (note the missing dot)?

[2016-03-31 12:35] lipp commented on #54
@tf it seems some es2015 stuff is already working: https://doclets.io/crawlkit/crawlkit/v2.0.1#dl-CrawlKit

using classes, getters / setters etc.

[2016-03-31 20:51] joscha commented on #84
I followed JSDoc: http://usejsdoc.org/tags-type.html which seems to have the dot if I understand correctly.

[2016-04-01 11:37] lipp commented on #82
@janmeier nested params is online. maybe you could review and give feedback?

[2016-04-02 10:38] lipp opened #88 "user (other user) view does not show repos"

[2016-04-02 10:38] lipp opened #89 "cannot render orga view if no repo is enabled"

[2016-04-02 21:30] janmeier commented on #82
Sure :)

![image](https://cloud.githubusercontent.com/assets/1210224/14229073/83211104-f929-11e5-95cc-82a9b54372dd.png)

This happens because of
[code]
Here `options.include` is an array of objects, and we are documenting the possible properties of the object - it seems the `[]` gets a separate item before the nested items are listed.

![image](https://cloud.githubusercontent.com/assets/1210224/14

[2016-04-04 15:57] lipp commented on #82
@janmeier thanks for detailed report! :100:

[2016-04-04 16:07] lipp commented on #82
@janmeier `through` disappears as `options.include[].through` is not documented with @param. not sure if this is "required" or if doclets should "auto-guess" the through must be an object... what do you think?

[2016-04-05 11:27] lipp commented on #75
@ericuldall the jsdoc parser complains about the usage of the ("future") keyword interface. On Express-MVC master jsdoc complained about lib/Log/Utils.js and lib/Router.js . renaming the "interface" vars fixes this.

[2016-04-05 20:35] ericuldall commented on #75
ah, okay. I'll check that out later. Is there any way you can make errors in building doclets available in the dashboard? Seems this could have been an easy fix if I know what the error was.

[2016-04-06 05:45] lipp commented on #75
@ericuldall indeed, error handling / reporting has to be improved (well there is no such thing yet)! I'll create an issue for that. thanks!

[2016-04-06 05:47] lipp opened #93 "Show JSDoc errors/warning"
Show warning / errors during JSDoc generation. This will help the user figure out what's going on (e.g. something missing see #75).
Maybe on user/repo view (dashboard)

[2016-04-06 05:48] #75 closed

[2016-04-06 06:05] lipp commented on #75
@ericuldall btw: sorry it took so long!

[2016-04-08 07:30] janmeier commented on #82
@lipp That's definitely an error on our part then - We just never recognized it before because it worked fine with our homegrown docs script ;) - I'll add it and test again soon

[2016-04-08 09:38] lipp commented on #82
@janmeier ok. anyhow, since doclets should try to be nice i added "augmenting" missing nested params parents. as children names imply the parent type this should work in all cases.

[2016-04-08 09:51] lipp commented on #82
here you can see the "augmented" `through` param:
https://doclets.io/janmeier/sequelize/master#dl-Mixin-belongsToMany

hope you like it! thanks for reporting!!!

[2016-04-08 09:51] #82 closed

[2016-04-08 14:25] lipp opened #95 "API tree incomplete"
https://doclets.io/BoolJS/booljs-api/master

api tree incomplete e.g. removeInstance not in tree

[2016-04-12 07:07] lipp commented on #84
@joscha should be fixed for the most common cases.
some more advanced constructs are not working yet: record types `{{a: number, b: string, c}}` , `function` decls
BTW: do you know how to read this `{{a: number, b: string, c}}`? what does the `c` mean?

[2016-04-14 11:47] lipp commented on #89
fixed

[2016-04-14 11:47] #89 closed

[2016-04-18 11:11] lipp commented on #84
@joscha Improved the (extended) type linking stuff. However, JSDoc cripples the closure function decls and record decls :(
i'll open a separate issue if these get supported by JSDoc.

[2016-04-18 11:11] #84 closed

[2016-05-04 08:04] lipp opened #116 "support @category tag"
Support the non-standard but commonly used @category tag for grouping related stuff.

[2016-05-04 21:37] jenius opened #118 "Empty API Tree"
Am I doing something wrong?

https://doclets.io/carrot/roots-mini/master

[2016-05-16 00:02] trusktr opened #123 "Doesn't work as expected."
For example, see these generated docs: https://doclets.io/trusktr/awaitbox/master

Then, look in the `src` folder of the repo: https://github.com/trusktr/awaitbox

Any tips on what to do?

[2016-05-16 19:30] SanderRonde opened #124 "Filepaths containing spaces don't work"
Using doclets on any files whose paths contain spaces will not work. This is because file paths are not surrounded by quotes when passed to the jsdoc interpreter.

[2016-05-17 06:50] lipp commented on #124
thanks for reporting 👍

[2016-05-17 06:56] #124 closed

[2016-05-17 07:03] lipp commented on #123
@trusktr The problem is mainly that JSDoc (which is used internally) has some difficulties to deduce proper types and names for ES6.

For instance:
[code]
from https://github.com/trusktr/awaitbox/blob/master/src/timers/sleep.js

should be

[code]

This would give you the expected result. Hopefully the ES6 support gets better soon. That would save you the explicit @type and @name tags. You should n

[2016-05-17 08:58] trusktr commented on #123
Oops! I was not sure what to expect. I thought perhaps it would output
plain text including the backticks or HTML from markdown.

On Tuesday, May 17, 2016, Gerhard Preuss <notifications@github.com> wrote:

--
/#!/JoePea

[2016-05-18 18:23] lipp commented on #123
Can I close this?

[2016-05-19 23:36] trusktr commented on #123
@lipp Yeah :)

[2016-05-21 08:00] #123 closed

[2016-05-30 14:54] FredyC opened #131 "502 Bad Gateway"
I am not sure what's wrong. In the list I see badge that says failed, but I cannot seem to find any details anywhere about failure.

https://doclets.io/BlackDice/b3-chief/master

The doclets.yml look like this

[code]

[2016-05-31 12:01] lipp commented on #131
Thanks for reporting. I'm sorry for the really bad error reporting! there is already an issue for improving error reporting / logging #93.
Anyhow, the user should at least see "something" better than the nginx error!

[2016-06-01 01:42] joscha commented on #68
is there any news on this one? We are currently looking into using doclets for our project, but it is not on github, so that would be ideal.

[2016-06-01 06:47] lipp commented on #68
would a local preview be sufficient (generating stuff local, running on localhost, without the CI & login stuff)?

[2016-06-01 06:48] janmeier commented on #68
Definitely enough for me! :)

[2016-06-01 06:49] lipp opened #134 "change node-github usage to support recent node-github release"
node-github introduced some API changes (see #132 )

[2016-06-01 07:18] lipp opened #135 "add development documentation"
add some info to the readme to enable contributors to locally develop and test

[2016-06-01 07:22] lipp opened #136 "make travis-runs more reliable"
as some tests really interact with github, timeouts happen pretty often and lead to failing tests. re-running "fixes" them, but this is very inconvenient.

options:
- stub the tests which really call to github
- disable them for travis (using env)
- stub them only for travis

[2016-06-01 07:37] lipp opened #137 "improve playground loading times"
doclets with many playgrounds get stuck, because of pretty slow load times of the playgrounds supported by the **awesome** tonicdev.

example:
https://doclets.io/dleitee/strman/master

how can this be solved? the main focus should be to allow to user to scroll the page, even if not all playgrounds are loaded. this is the code which loads / embeds the playgrounds:

https://github.com/lipp/doclets/b

[2016-06-01 20:30] FredyC commented on #131
Is there something I can do on my own to figure out what might be wrong? Should I just try to generate jsdoc from my code? Any specifics relevant to doclets?

[2016-06-02 03:10] joscha commented on #68
I think it would work for us as well - ideal would be something that can run in the CI but is not dependent on anything github.

[2016-06-02 03:10] joscha commented on #135
yes please!

[2016-06-02 23:58] tolmasky commented on #137
Hi, the real solution is for us to make them load faster. However, while we work on that, I have had success simply delaying the loading. If you look at this blog post I wrote, it loads many examples and still remains fast scrolling: http://tolmasky.com/2016/03/24/generalizing-jsx/ . The code is in that same file.

[2016-06-04 10:10] lipp commented on #137
@tolmasky Thank you very much!!!! 💯  I'll try to integrate your temp solution.

[2016-06-05 14:45] SanderRonde commented on #131
@FredyC  The way I diagnosed my issue was by cloning this repo and running my code through the lib/gather.js file. That way you can actually get the error that the jsdoc parser finds.

[2016-06-05 20:38] FredyC commented on #131
@SanderRonde Thanks for the tip, I will try that.

[2016-06-11 22:41] webNeat opened #142 "support property type"
Hello,

I have the following type definition

[code]

The type `DB` is shown on the documentation but the properties `folder` and `schemas` are shown without types. Is there any way to show types for these like shown for function arguments for exemple ?

Thank you,
Amine

[2016-06-14 06:25] lipp commented on #142
Thanks for reporting. Your code is correct. I'll fix this.

[2016-06-14 06:26] lipp commented on #131
@SanderRonde 💯

[2016-06-20 16:25] kensnyder opened #147 "Can't login with GitHub to signup for Doclets"
I'm trying to login and try Doclets. I get to the GitHub authorization screen but when I click authorize I'm redirected to https://doclets.io/auth/github/callback?code=%hexstring%

And get the following error:
[code]

[2016-06-21 10:54] jniles commented on #147
This also affects returning users who are trying to sign back in with github.

[2016-06-27 21:04] janmeier opened #157 "@constructor + @class tags both show class members"
We use the `@class` tag to give a general description of the class, and `@constructor` to describe its specific arguments - However, the class members are shown for both

https://doclets.io/janmeier/sequelize/janmaster#dl-Sequelize

I think that if `@class` is defined, `@constructor` should not show the members

[2016-07-04 15:19] lipp commented on #147
thanks for reporting! digging into this...

[2016-07-05 06:24] lipp commented on #157
thanks for reporting. your solution makes perfect sense.

[2016-07-05 06:26] lipp commented on #147
@jniles @kensnyder could you please re-try logging in/out to see if this still happens? thanks

[2016-07-05 06:33] lipp commented on #147
... seems like some ressource/memory problem with session store....

[2016-07-05 07:05] janmeier commented on #157
So, it turns out that class and constructor are aliasses of each other - so I guess that members should just shown for the first :)

[2016-07-05 07:06] jniles commented on #147
@lipp, I am able to log in again.  Thanks!

[2016-07-05 07:09] lipp commented on #147
i'll keep this issue open as I don't understand what was going wrong ...

[2016-07-05 07:10] janmeier opened #161 "Separate static and instance members"
For example https://doclets.io/sequelize/sequelize/doclets#dl-Model

![image](https://cloud.githubusercontent.com/assets/1210224/16576566/4a2fc916-4290-11e6-9096-265226b889a3.png)

Since this class has a lot of members, it would be nice to be able to clearly see which are instance and which are static

[2016-07-05 07:49] lipp commented on #161
Good idea! Any suggestions how to make this visible? (icon, color, font style)?

[2016-07-05 07:50] janmeier commented on #161
I was thinking two separate lists (But then again, I'm not very design minded...) Guess we could also just show instance first and then static, maybe with a color difference, like in the lefthand-side

[2016-07-05 07:51] lipp commented on #161
Sure...
Members:

and
Static Members:

.... obvious ...

[2016-07-05 20:10] felixfbecker commented on #161
I would say a grey divider in both the members list and the links on the left side. But I would first list the static members, then the instance members. And of course only show the headline if there are actually items of that kind.

[2016-07-05 20:13] felixfbecker commented on #54
[esdoc](https://esdoc.org/) aims to be a better JSDoc with proper support for ES2015

[2016-07-06 02:29] uedsky commented on #147
I have the same problem.
I've tried log out & in , reauthorize from github, it's still not work, please help!

[2016-07-06 07:43] lipp commented on #147
@uedsky signup/login is working again. i have to resize my server vm, ... it seems to be a memory issue. sorry for the inconvenience & trouble.

[2016-07-06 10:49] uedsky commented on #147
Another problem, I've pushed a repo named `docletstest`, but doclets cannot detect it, even after clicked the `re-sync respositories` btn

[2016-07-06 12:29] lipp commented on #147
that's interesting.... many projects have been added during the last day...
i will look into the logs...

[2016-07-06 12:31] lipp commented on #54
yes, esdoc might be a great choice for now.

[2016-07-06 13:22] uedsky commented on #147
It appear now, maybe i'm just didn't see it. coz you guys use "reponame/username" form in repo list.

[2016-07-06 15:47] tf commented on #54
I gave it another try and with the `jsdoc` version currently linked in the `package.json` (which references the same commit as `master` at the moment), ES2015 and also JSX work ([example](https://doclets.io/tf/pageflow-react/add-to-doclets)). :+1: So maybe this issue can be closed?

As for `esdoc`, I took a closer look and I'd be careful to switch. To me it looks like the project is basically main

[2016-07-07 06:55] lipp commented on #54
@tf Thanks for reporting that ES2015 with doclets.io works for you! As ES2015 support might be incomplete, I close this issue and suggest to open separate issues if something is missing/not working.

[2016-07-07 06:55] #54 closed

[2016-07-07 09:09] morkro opened #163 "Documentation breaks when formatting is wrong"
Hello :wave:,

it looks like the documentation is broken once a JSDoc comment has incorrect formatting.
Here are two occurrences I found:

- If you go to [this part](https://doclets.io/morkro/atom-emoji-syntax/master#dl-EmojiStyleSheet-add) of my documentation, you see that it stops reporting in the middle of the sentence. I assume the chevron (`<atom-styles>`) in my description causes this proble

[2016-07-07 09:46] lipp commented on #163
@morkro Thanks for reporting! This is an html escaping thingy. JSDoc comments are allowed to contain HTML and Markdown. So the description potentially (and intentionally) contains HTML tags in string.

Could you try to wrap your tags in backticks? This hopefully instructs JSDoc to do the right thing...

PS: Happy you like Doclets!

[2016-07-07 09:53] lipp commented on #137
@tolmasky ... sorry... could you please point me to the piece of code which handles the loading/delaying/whatever of the tonicdev examples? Thanks!!!

[2016-07-07 10:00] morkro commented on #163
Well TIL JSDoc comments are Markdown 😁 .
Thanks for the help, I updated all my JSDoc comments and that fixed the issue. Everything looks [fresh](https://doclets.io/morkro/atom-emoji-syntax/master) now. 👍

[2016-07-07 10:45] lipp commented on #163
👍 Great!!! You are welcome! If you like Doclets, spread the word 😀

[2016-07-07 10:45] #163 closed

[2016-07-07 10:46] lipp opened #164 "add HTMLElement to built-in types/links"
link to https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement

[2016-07-07 12:12] morkro opened #165 "Display function.name instead of module.exports"
I got a couple of helper functions, which are exported as default. Since I have quite a few of them, they only show up as `module/exports()` in the list.

Let's take this example. This is how my code looks like:

[code]
The output in Doclets is like this, among many other `module/exports`:
![screen shot 2016-07-07 at 14 06 38](https://cloud.githubusercontent.com/assets/2461956/16652651/34e713d0-44

[2016-07-07 17:11] tolmasky commented on #137
Sure, its just:

[code]

[2016-07-12 06:33] tf commented on #135
Managed to get a dev server running, but did not find out how to import and view fixture data. Also `npm test` fails with missing secrets. Could see me working on a small PR here and there if I could get it running on my machine.

[2016-07-15 10:44] lipp commented on #137
@tolmasky Thanks 💯  again! This is in now...
As long as the tonic devs don't load faster, this is probably an as-good-as-possible solution, so i'll close this for now.

[2016-07-15 10:44] #137 closed

[2016-07-15 10:46] lipp commented on #161
@felixfbecker @janmeier done. Is this ok for you?
https://doclets.io/sequelize/sequelize/doclets#dl-Model

[2016-07-15 10:49] lipp commented on #137
@dleitee this improves the strman usability a lot (though, still not great)
https://doclets.io/dleitee/strman/v1.3.0

[2016-07-15 10:53] felixfbecker commented on #161
@lipp Looks great, but would a speration be possible also for the navigation pane on the left?

[2016-07-15 11:03] lipp commented on #161
@felixfbecker the nav on the left will receive some improvements... maybe this would be a good idea...

[2016-07-15 11:07] #164 closed

[2016-07-15 11:08] lipp commented on #147
this was a misconfigured redis / docker host issue

[2016-07-15 11:08] #147 closed

[2016-07-15 11:10] lipp commented on #131
@FredyC you are missing the .doclets.yml file. See here for explanation:
https://doclets.io/doclets.yml

[2016-07-15 11:10] #131 closed

[2016-07-15 11:16] FredyC commented on #131
ah I see,there is error reporting already,cool

[2016-07-15 12:43] dleitee commented on #137
@lipp Thank you, I will see doclets project and verify if I can contribute with improvements and fixes.

[2016-07-15 13:15] lipp commented on #165
@morkro Yes, this is a bit annoying. I am not sure, if it's ok to behave like this always...
For now, you could just use the @name jsdoc attribute to overwrite JSDoc name deduction.

[2016-07-15 16:02] tolmasky commented on #137
Another strategy is to do what lodash has done: lodash.github.io (show the embed/ run it when clicked)

[2016-07-16 22:43] Alxandr opened #174 "doclets.io not picking up changes"
I'm trying to progressively add documentation to my repository over at https://github.com/YoloDev/nitter using the `add-to-doclets` branch. However, doclets.io stopped showing my changes after a few updates, and now I can't seem to get it to work again. I've even tried deleting and recreating the branch, but it doesn't work. Please help.

[2016-07-19 12:43] tf commented on #174
For the `add-to-doclets` branch it is still working for me. But updates on other branches are no longer detected, and also detecting new branches only worked in a single case.

[2016-07-19 21:24] kensnyder commented on #147
Thank you, it is working for me as well.

[2016-07-19 22:08] lipp commented on #174
Hi! Thanks for using doclets... and sorry for the trouble.

I cloned your repo and the add-to-doclets branch works just fine for me. I also ran some changes in the README.md to see if the generated pages update. Everything worked as expected.

https://doclets.io/lipp/nitter/add-to-doclets/overview

However, your latest add-to-doclets branch commit is ahead/newer with respect to the doclets.io vers

[2016-07-19 22:12] lipp opened #178 "Unselected branches may get visible after server restart"
as @tf
https://doclets.io/tf

The branch filter seems to be ignored when restarting the server and event catchup happens...

[2016-07-19 22:13] #161 closed

[2016-07-19 22:14] lipp commented on #135
@tf @joscha  added some basic info to the README.md. Is this sufficient to get started?

[2016-07-20 07:06] Alxandr commented on #174
![image](https://cloud.githubusercontent.com/assets/112334/16977857/016fa5aa-4e59-11e6-8c1d-39d44fbe2089.png)

I'm guessing the issue stems from me doing a forced update to the branch (which doclets really need to support). I did `git commit --amend` followed by `git push -f`. This makes the branches out of sync and then force-updates the one on github. So maybe your cloning code is breaking?

[2016-07-20 08:12] lipp commented on #174
@Alxandr thanks for the details. I guess you are right...
Do you know, how to determine if the cloned repo got out-of-sync?
This is the code, which handles the checkout on push events (to help you get an idea what is going on right now...):
https://github.com/lipp/doclets/blob/master/lib/repo.js#L78

[2016-07-20 08:22] Alxandr commented on #174
Quick googling gave me this: http://stackoverflow.com/a/3278427/213323 which is probably exactly what you need. Translating the bash-script to JS should also be fairly easy. If the branches has diverged `git pull` will fail as far as I know. Although, what you could (probably) do, which (I think) would work regardless is just do `git fetch origin master` followed by `git checkout origin/master`. O

[2016-07-20 10:27] tf commented on #174
@lipp Ah, I forgot about that. I guess I got confused since I pushed a branch `doc-mod` and saw it appear [in the branch list](https://doclets.io/tf/pageflow) and after following the link it simply [said I was missing the config file](https://doclets.io/tf/pageflow/doc-mod).

But when I push other branches now, they do not show up. I see a [successful webhook call](https://gist.github.com/tf/ba2ab

[2016-07-21 07:45] tf commented on #174
After further tests, I can confirm that this is mainly related to branches that have been force pushed. Still not completely sure why some branches did not show up in the overview. But for new branches with a config file, everything seems to work fine.

I guess `repo.js` should rather `git fetch` and `git reset --hard origin/branch` instead of trying to checkout the branch and pull.

[2016-07-21 09:48] Alxandr commented on #174
@lipp for now, could you just make a button somewhere that "force updates" a branch? So that when it gets stuck we can get it up and working again? And we can look at bettering it later. I can probably get involved with helping, even though I violently disagree with the no-semicolon convention :-/

[2016-07-21 12:41] lipp commented on #174
@Alxandr thanks for the offer. Your help is very welcomed 👍
However, I'm going in vacation for 3 weeks, so unfortunately I won't risk  to make any quick-changes.
I hope you can proceed with your project and return to doclets as soon as this issue gets resolved.

[2016-07-21 13:38] lipp commented on #174
@Alxandr @tf just added @tf's improvement. Could you give it a try?

[2016-07-21 20:58] Alxandr commented on #174
Seems to be working :+1:

[2016-07-22 07:16] lipp commented on #174
Great! Thanks!!!

[2016-07-22 07:16] #174 closed

[2016-07-22 10:14] lipp commented on #118
@jescalan sorry for the late response! Thanks for reporting. This is related to #95 .
There is a problem concerning auto deduction of incomplete namespace/module definitions.

I will rework the navigation and some grouping / naming decisions made which address the same problem.
I'm in vacation for 3 weeks and then this is the next thing todo for me. Regards

[2016-07-22 11:07] lipp commented on #136
increasing the timeouts helped:
https://github.com/lipp/doclets/commit/567ae70e7e98c07932b7e4f820fa5143185114bc

[2016-07-22 11:07] #136 closed

[2016-07-27 06:24] yujunz opened #182 "branch name with '/' not supported"
A branch named `feature/doclets` will cause a `Err null` result

See https://doclets.io/openzero-zte/js-generator-openstack/feature/doclets

[2016-07-28 09:40] lipp commented on #182
Thanks for reporting! This must be supported definitely. It is on the todo list. I'll target this immediately after my vacation.

[2016-08-04 14:54] meteormanaged opened #188 "Support for other repo source (Gitlab, pull on hooks)"
Any plans or chance for support of other source other than github? I personally use gitlab (both a community server that I maintain, as well as sometimes using gitlab.com) and it'd be great to be able to gather from those sources.

If auth integration dev is a concern, perhaps a more simple approach could be used by providing an https url for a repo, as well as a username and password to access it

[2016-08-06 15:45] kripod opened #189 "Consider using documentation.js instead of jsdoc"
While the [JSDoc project](https://github.com/jsdoc3/jsdoc) pioneered the generation of JS API references, [documentation.js](https://github.com/documentationjs/documentation) seems to be maintained more frequently, and also offers support for ES6+ code syntax.

[2016-08-06 17:03] englercj opened #190 "504 Gateway Timeout"
I tried to signup and when coming back from GitHub OAuth I got a 504 Gateway Timeout.

Now I can't login, anytime I login or try to go to my account I get a 504 Gateway Timeout.

[2016-08-07 09:28] lipp commented on #190
Login/Logout for existing user works. Do you still have this problem?

[2016-08-07 09:31] lipp commented on #189
Thanks for your feedback! This may be an option for ! I will evaluate it soon.

[2016-08-07 09:32] lipp commented on #189
Ps: JSDoc already supports ES6 syntax

[2016-08-07 09:35] lipp commented on #188
Yes, I'd like to support other repos too. No schedule when this will be ready though :(

[2016-08-07 11:59] kripod commented on #189
I wrote "ES6+" because I'm using class properties and - in some of my projects - decorators, await/async and Flow type checks, which documentation.js also supports.

[2016-08-07 16:50] englercj commented on #190
Login/logout was working before. It 504'd when I tried to go to my account page. It is still pretty slow to load that page now, but I got in without it timing out.

**Edit**: J/k, timed out again. Looks like I just got lucky once.

[2016-08-11 05:08] lipp commented on #190
@englercj thanks for reporting! Anyone else with the same problem?
I'll check this next week when I'm back from vacation.
Sorry for the trouble!

[2016-08-15 06:49] lipp commented on #190
@englercj @HuguGiraudel do you still encounter this problem? I cannot observe this issues currently. If you retry (and the problem still exists), I could have a look at the logs...

[2016-08-15 15:07] englercj commented on #190
It takes about 5 seconds to load, but it does load now. I haven't gotten a 504 in a few days.

[2016-08-16 06:31] lipp commented on #190
@englercj thanks for the feedback! I guess you were logging in during a re-deploy (which has to do a lot of syncing with github for all users to eventually catch up missed webhook events). I will throttle this process to keep it more responsive (from web) during deployment.

I'll keep this issue open as I'm not 100% sure if this is the origin for the 504 and maybe some user experiences the same is

[2016-10-06 12:26] tf opened #219 "Build docs for PRs"
Feature idea: Add an option to `.doclets.yml` that enables automatically building documentation for all pull requests. That way it's always easy to check whether documentation changes made by PRs are valid and complete. There could be an extra section in the project's page on doclets.io listing recent PRs.

Cherry on top: Integrate with GitHub status API to display build success/failure and link t

[2016-10-12 10:41] tf opened #230 "Support for JSDoc Tutorials"
[JSDoc Tutorials](http://usejsdoc.org/about-tutorials.html) offer some advantages over Doclets articles:
- Ability to link to tutorial from API documentation via `@tutorial` tag
- Ability to link to API documentation from tutorial via `{@link}` tag
- Support for a JSON file to specify an order and even a hierarchy for the tutorial index

If I understand the code correctly, Doclets uses its own Mar

[2016-12-11 08:20] appsforartists opened #263 "TypeScript support"
If I point doclets at `src`, I get this:

    Error: ENOENT: no such file or directory, open '/usr/src/app/lib/7ea90b80-bf77-11e6-895d-f541a01addf8'

If I point it at `dist`, I get a [bunch of comments with no signatures](https://doclets.io/material-motion/indefinite-observable-js/add-to-doclets#dl-IndefiniteObservable-subscribe)

For comparison, [documentation.js](https://github.com/documentation

[2016-12-31 23:50] glebec opened #269 "Instance and static members with the same name are conflated"
Hello,

Doclets.io does not properly handle classes with identically-named static and instance methods. Consider a class `Promise` with static `all` and instance method `all`:

* Only one URL is generated, something like `...#dl-Promise-all`. This goes to the first method with that anchor tag in the page. Consequences:
  * Some of the inline links in a project are broken because they navigate to t

[2017-01-16 20:43] BenOckmore opened #278 "Incorrect date on documentation header"
The header for [our documentation](https://doclets.io/bookbrainz/bookbrainz-site/master) gives a date for the latest commit as 1st January 2017:

![image](https://cloud.githubusercontent.com/assets/1898174/21998340/1b1210cc-dc2c-11e6-9e81-ffbea3b59539.png)

However, this commit was actually made today, on 16th January:
https://github.com/bookbrainz/bookbrainz-site/commit/6689bd9

[2017-01-16 20:44] BenOckmore commented on #278
@lipp there seem to be a lot of open pull requests and issues - would you like any extra help on this project? I may be able to spare some time to go through them.

[2017-01-24 09:44] lipp commented on #278
Hello @LordSputnik Thanks a lot for your offer. As you can see, I can't spend much time on doclets.io right now. I'd like to invest more time soon...
Your help is very appreciated! If you need help to get started let me know.

[2017-03-02 07:45] kentcdodds opened #307 "nps-utils doclets not rendering"
I just added doclets to my new module `nps-utils` [here](https://doclets.io/kentcdodds/nps-utils/master) and as you can see, it's able to render the Overview (the README), but it's not rendering the API (based on the code's JSDoc in the [`src`](https://github.com/kentcdodds/nps-utils/blob/master/src/index.js) direcotry). Any tips are appreciated!

[2017-03-03 09:09] lipp commented on #307
Could you remove the `packageJson` from .doclets.yml?

[2017-03-03 15:04] kentcdodds commented on #307
That didn't work 😕

[2017-03-06 12:51] timseverien opened #311 "Manual update"
![whoops](https://cloud.githubusercontent.com/assets/2920299/23610673/b077704a-0273-11e7-9500-e92c6e84b6b9.png)

I have some versions that failed to generate docs because of a faulty `doclets.yml`. Some of those are many versions back, and I dislike the idea of forcing an update via git.

Can I somehow force Doclets to regenerate the docs for specific versions?

[2017-03-24 16:42] jgsmarques commented on #46
+1

[2017-07-31 15:42] fluffywaffles opened #335 "SSL Certificate Expired"

[2017-10-12 10:57] matt-hammond-001 commented on #46
+1

[2017-10-15 04:56] #307 closed, assigned to nobody

[2017-10-26 09:55] matt-hammond-001 commented on #230
+1

[2018-01-29 07:42] mumairofficial commented on #335
Chrome is not allowing to browse the site.

[2018-01-30 02:01] michaelaflores opened #336 "SSL Certificate Expired"
When browsing on Safari 11.0, the following warning is displayed. A similar warning appears in Chrome.
![screen shot 2018-01-29 at 5 42 02 pm](https://user-images.githubusercontent.com/11711706/35544301-7bb4fff4-051e-11e8-934d-4435a931d1ef.png)

[2018-06-02 01:21] Idrinth opened #337 "Login-Issues, session can't be saved"
There seems to be an issue with the session-handling at the moment when trying to log in:
[code]
With the following on reload:
[code]

[2018-07-27 07:18] CamiloTD commented on #337
Happened to me too, site is useless for now

[2018-09-13 04:18] jidemobell commented on #337
Just experienced this issue. req.session.save is not a function

[2018-10-28 16:23] fewieden commented on #337
@lipp any update on that issue?

[2018-12-22 08:56] fewieden opened #338 "SSL certificate exired on 12.12.2018"
@lipp the let's encrypt certificates expired on the 12.12.2018

[2019-02-14 11:59] yunnysunny commented on #337
I met the same problem now!

[2019-03-25 14:17] magicznyleszek commented on #337
@lipp any plans to fix this? Doclets is broken for a year now.

[2019-04-01 09:29] nico1996it commented on #337
@lipp same problem here...

[2019-07-31 11:40] cherryblossom000 commented on #337
@lipp I also have the same problem.

[2021-07-12 08:07] #76 closed

[2021-07-12 08:07] #62 closed

[2022-07-09 02:33] #338 closed, assigned to nobody